{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<h1>Редактировать профиль</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Изменить аватар</h2>
    {{ avatar_form.as_p }}
    <h2>Изменить имя и логин</h2>
    {{ profile_form.as_p }}
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

{% endblock %}