{% extends "app/layout.html" %}
{% block content %}

<h1>Добро пожаловать на страницу об автомобилях!</h1>
<br />
<hr style="border: none; color: brown; background-color: brown; height: 3px;" />
<br />
<h2>Что такое автомобили?</h2>
<p>Автомобиль — это транспортное средство, предназначенное для передвижения по дорогам с помощью мотора. Они являются важной частью современной жизни, обеспечивая людей удобством и мобильностью.</p>
<hr />
<h2>Виды автомобилей</h2>
<p>Существует множество различных видов автомобилей, включая легковые автомобили, грузовики, автобусы, мотоциклы и т. д. Каждый вид предназначен для определенных целей и имеет свои характеристики.</p>
<hr />
<h2>История автомобилей</h2>
<p>История автомобилей насчитывает более ста лет. От первых паровых автомобилей до современных электромобилей, автомобильная индустрия постоянно развивается, интегрируя новые технологии и улучшая производственные процессы.</p>
<hr />
<h2>Основные виды кузовов</h2>
<p>Тип кузовной конструкции легко определяется по внешнему виду автомобиля. Для каждого класса характерны отличительные черты, которые легко обнаружить даже при наличии небольшого опыта. Кроме того, свою роль в классификации играет и способ реализации багажного отделения, которое может быть объединено с пассажирским салоном или отделено от него.</p>
<img style="width:850px; height:auto;" src="static/app/content/img.jpg" />
<p>Наибольшим спросом пользуются легковые автомобили со следующими типами кузова:</p>
<h3>Седан — самый распространенный вариант</h3>
<p>Машины с таким трехобъемным кузовом встречаются на наших дорогах чаще всего. Хотя стоит отметить, что сейчас их серьезно потеснили кроссоверы и хэтчбеки. К отличительным особенностям седана относят:</p>
<ul>
    <li>Отделенные от салона моторный отсек и багажник.</li>
    <li>Классическая четырехдверная компоновка, иногда имеет 5 дверей с учетом багажника.</li>
    <li>Наличие двух рядов полноразмерных сидений, обеспечивающих комфортное размещение взрослых пассажиров.</li>
</ul>
<p>Авто с кузовом такого типа способно обеспечить все потребности городского жителя, именно по этой причине многие автовладельцы отдают предпочтение такой классической компоновке.</p>
<p>Несмотря на наличие разных решений по экстерьеру легковых машин, количество основных типов кузовов, получивших применение, несколько ограничено. Общее число вариантов не превышает и полтора десятка. Давайте разберемся, чем отличаются разные предлагаемые автопроизводителями решения.</p>
<h3>Универсал — семейный автомобиль с большими возможностями</h3>
<p>Это двухобъемный кузов, у которого багажник конструкционно объединен с салоном. Отличительная черта такого класса машин — наличие наклонной задней двери, закрывающей багажник и увеличенной до заднего габарита.</p>
<h3>Хэтчбек — укороченный вариант универсала</h3>
<p>Машины этого класса отличаются только длиной свеса от задних колес. У хэтчбеков этот показатель меньше, что привело к уменьшению полезного объема багажника в большинстве случаев. Но уменьшение габаритов позволило обеспечить хорошую маневренность, что особенно важно при движении в плотном городском потоке.</p>
<h3>Лифтбек — комбинация универсала и седана</h3>
<p>Этот вариант сочетает черты обоих типов кузова. От универсала он отличается несколько выступающей частью багажника, что делает его похожим на седан. Но в глаза бросается то, что крышка объединена с задним стеклом, и открывается вместе с ним, кроме того, этот кузов также двухобъемный.</p>
<h3>Купе — машина для ценителей личного пространства</h3>
<p>Закрытый кузов, который сразу легко определить по наличию всего двух дверей. По сути, это обыкновенный седан, но укомплектованный только одним рядом сидений, в крайнем случае задние имеют уменьшенные размеры. По этой причине семье такая машина не подойдет, а вот молодым людям купе придется по вкусу.</p>
<h3>Лимузин — показная роскошь</h3>
<p>Машины представительского класса, могут иметь форму седанов, внедорожников, но отличаются нестандартной увеличенной базой. Еще одна отличительная черта — водительская часть салона отделена от остальной сдвигающейся перегородкой, чтобы не доставлять неудобств пассажирам.</p>
<h3>Кабриолет всегда притягивает взгляды</h3>
<p>Одна из немногих модификаций машин с открытым кузовом. Комплектуется мягкой или жесткой складывающейся крышей, которая в сложенном состоянии размещается в багажники или между ним и салоном.</p>
<h3>Внедорожник — повышенная прочность и надежность</h3>
<p>Для машин этого класса характерны:</p>
<ul>
    <li>Рамный кузов, выдерживающий серьезные нагрузки.</li>
    <li>Увеличенный клиренс, упрощающий поездки в плохих дорожных условиях.</li>
    <li>Полный привод.</li>
</ul>
<p>Такие автомобили пользуются спросом и у городских жителей, что в первую очередь связано с представительным внешним видом.</p>
<p>Есть и некоторые другие варианты кузовов легковых автомобилей, но такого широкого применения они не получили. Но даже представленных решений вполне хватит, чтобы задуматься при выборе.</p>


{% endblock %}
