<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} AvtoSaleOn</title>
    {% load static %}
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="static/app/content/icon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script>
        function move() {
            var img = document.getElementById("image");
            var leftPosition = parseInt(img.style.left) || 0;
            var imageWidth = img.offsetWidth;
            var windowWidth = window.innerWidth;
            if (leftPosition <= 0) {
                img.style.left = (windowWidth - imageWidth) + 'px';
            } else {
                img.style.left = (leftPosition - 2) + 'px';
            }
        }
        setInterval(move, 10);
    </script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                    <img id="image" style="position: absolute; top: 35px; left: 400px; width: 20px; height: auto;" src="{% static 'app/content/icon.png' %}" alt="logo" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a style="color: black;" href="{% url 'home' %}">Домашняя страница</a></li>
                    <li><a style="color: black;" href="{% url 'about' %}">О странице</a></li>
                    <li><a style="color: black;" href="{% url 'contact' %}">Контакты</a></li>
                    <li><a style="color: black;" href="{% url 'links' %}">Полезные ресурсы</a></li>
                    <li><a style="color: black;" href="{% url 'anketa' %}">Отзыв</a></li>
                    {% if not user.is_authenticated %}

                    <li><a style="color: black;" href="{% url 'registration' %}">Регистрация</a></li>

                    {% endif %}
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>

    <div class="container body-content">
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - AvtoSaleOn</p>
        </footer>
    </div>

    
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
