{% extends "app/layout.html" %}
{% block content %}



<div class="container">
    <h1>Область функционирования организации</h1>
    <p>
        Наш автосалон специализируется на продаже <href ="{% url 'catalog_new_auto' %}">новых</href> и <href ="{% url 'catalog_used_auto' %}">подержанных</href> автомобилей различных марок и моделей. Мы предлагаем широкий ассортимент автомобилей, от экономичных седанов до роскошных внедорожников и спортивных автомобилей. Наша команда профессионалов готова помочь вам подобрать автомобиль, который идеально соответствует вашим потребностям и бюджету.
    </p>
    <p>
        Кроме продажи автомобилей, мы также предоставляем услуги по <href ="{% url 'catalog/new/auto' %}">техническому обслуживанию</href> и <href ="{% url 'catalog/new/auto' %}">ремонту</href>, а также помогаем с оформлением <href ="{% url 'catalog/new/auto' %}">автокредитов</href> и <href ="{% url 'catalog/new/auto' %}">страхованием</href>. Мы стремимся к тому, чтобы каждый наш клиент остался доволен качеством наших услуг и получил максимальную выгоду от сотрудничества с нами.
    </p>
</div>




{% endblock %}