{% extends "app/layout.html" %}

{% block content %}
<div class="container mt-5">
    <h1>Услуги</h1>
    {% for service_type in service_types %}
    <h2>{{ service_type.name }}</h2>
    <div class="row">
        {% for service in service_type.service_set.all %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ service.name }}</h5>
                    <p class="card-text">{{ service.description }}</p>
                    <p class="card-text">Цена: {{ service.price }}</p>
                    <a href="{% url 'service_detail' service.id %}" class="btn btn-primary">Подробнее</a>
                    <a href="{% url 'add_to_cart' item_type='service' item_id=service.id %}" class="btn btn-primary">Купить</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% if request.user.is_staff %}
<a class="btn btn-outline-light" style="color: black; background-color: darkorange; margin: 4px 3px 0px 3px " href="{% url 'newservice' %}">Добавить услугу</a>
{% endif %}
{% endblock %}