{% extends "app/layout.html" %}

{% block content %}
<div class="container mt-5">
    <h1>{{ service.name }}</h1>
    <div class="row">
        <div class="col-md-12">
            <p><strong>Описание:</strong> {{ service.description }}</p>
            <p><strong>Цена:</strong> {{ service.price }}</p>
            {% if request.user.is_staff %}
            <a href="{% url 'edit_service' service.id %}" class="btn btn-primary">Изменить</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}